.Albuns{
    font-family: Hina Mincho, serifa;
    text-align: center;
    color:#15bacf;
    width:58%;
    margin: 0 auto; 
}

.img1{
    display: flex;
    width: auto;
    justify-content: space-between;
}

img{
    width: 260px;
    height: 100%;
}

.img2{
    display: flex;
    width: auto;
    justify-content: space-between;
}
