section{
    font-family: Hina Mincho, serifa;
    text-align: center;
    color:#15bacf;
    width:58%;
    margin: 0 auto;
    }

img{
    width: 70%;
}

.postagem{
    border-radius: 10px;
    background-color: #9f98fa;
    color:#ffffff;
    font-size: 25px;
    padding: 8px;
    margin: 12px;
}

h1{
    font-size: 30px;
}